@import 'tailwindcss';
* {
	font-family: 'Anybody', sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: 'wdth' 100;
}

body {
	background-color: #1a1a1a;
	padding-top: 20px;

	@media (height > 700px) {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100dvh;
	}
}
