@import 'tailwindcss';

@theme {
	--color-90s-pink: #ff1493;
	--color-90s-cyan: #00ced1;
	--color-90s-yellow: #ffd700;
	--color-90s-purple: #54276f;
}

* {
	font-family: 'Anybody', sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: 'wdth' 100;
}

body {
	background-color: #1a1a1a;
	padding-top: 20px;

	@media (height > 700px) {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100dvh;
	}
}

/* System preference for reduced motion */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
